html{
  scroll-snap-type: y mandatory;
  background-color: black;
}
.App{
  height: 100vh;
  display: grid;
  place-items: center;
}

.gradient-border {
  height: 100vh;
  max-height: 805px;
  width: 100%;
  max-width: 505px;
  overflow: scroll;
  scroll-snap-type: y mandatory;
  position: relative;
  border-radius: 10px;
  --borderWidth: 5px;
  display: grid;
  place-items: center;
}
.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}

.app_videos{
  height: 100vh;
  max-height: 800px;
  width: 99%;
  max-width: 500px;
  overflow: scroll;
  scroll-snap-type: y mandatory;
  position: relative;
  border-radius: 10px;
}

.app_videos::-webkit-scrollbar{
  display: none;
}

.app_videos{
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.gradient-border::-webkit-scrollbar{
  display: none;
}

.gradient-border{
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@media only screen and (max-width: 440px){
  .app_videos{
    width: 98%;
    height: 99vh;
  }
  
}
@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
	50% {
    background-position: 100% 50%;
  }
	100% {
    background-position: 0% 50%;
  }
}