html{
  scroll-snap-type: y mandatory;
}
.App{
  background-color: black;
  height: 100vh;
  display: grid;
  place-items: center;
}

h1{
  color: hotpink;
}

.app_videos{
  height: 800vh;
  max-height: 800px;
  width: 80%;
  max-width: 500px;
  border: 2px solid hotpink;
  border-radius: 20px;
  overflow: scroll;
  scroll-snap-type: y mandatory;
  position: relative;
}

.app_videos::-webkit-scrollbar{
  display: none;
}

.app_videos{
  -ms-overflow-style: none;
  scrollbar-width: none;
}